@font-face {
    font-family: 'Purista';
    src: url('fonts/Purista-SemiBold.woff2') format('woff2'),
        url('fonts/Purista-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Purista';
    src: url('fonts/Purista-Bold.woff2') format('woff2'),
        url('fonts/Purista-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Purista';
    src: url('fonts/Purista-Medium.woff2') format('woff2'),
        url('fonts/Purista-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Purista';
}

html {
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#1E1E1E, black);
    position: absolute;
    top: 0;
    left: 0;
}

#hotbar-container {
    width: 100vw;
    height: 3.5vw;
    position: absolute;
    bottom: 0vw;
    border-top: 1px solid white;
}

#money-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

#money-img {
    filter: invert(1);
    width: 2.5vw;
    height: 2.5vw;
    display: inline;
    position: relative;
    top: -0.25vw;
}

#money {
    color: white;
    font-size: 2.25vw;
    font-weight: 600;
    display: inline;
    position: absolute;
    top: -0.75vw;
    left: 2.25vw;
}

#bank-container {
    position: absolute;
    bottom: 0;
    left: 13vw;
}

#bank-img {
    filter: invert(1);
    width: 2.5vw;
    height: 2.5vw;
    display: inline;
    position: relative;
    top: -0.25vw;
}

#bank {
    color: white;
    font-size: 2.25vw;
    font-weight: 600;
    display: inline;
    position: absolute;
    top: -0.75vw;
    left: 3vw;
}

#food-container {
    position: absolute;
    bottom: 0;
    left: 26vw;
}

#food-img {
    filter: invert(1);
    width: 2.5vw;
    height: 2.5vw;
    display: inline;
    position: relative;
    top: -0.25vw;
}

#food {
    color: white;
    font-size: 2.25vw;
    font-weight: 600;
    display: inline;
    position: absolute;
    top: -0.75vw;
    left: 3vw;
}

#water-container {
    position: absolute;
    bottom: 0;
    left: 39vw;
}

#water-img {
    filter: invert(1);
    width: 2.5vw;
    height: 2.5vw;
    display: inline;
    position: relative;
    top: -0.25vw;
}

#water {
    color: white;
    font-size: 2.25vw;
    font-weight: 600;
    display: inline;
    position: absolute;
    top: -0.75vw;
    left: 3vw;
}

#tab1-container {
    width: 19.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(151, 60, 0), rgb(58, 16, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 0vw;
    z-index: 10;
}

#tab1-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#tab1-img {
    width: 10vw;
    height: 10vw;
    filter: brightness(0) invert(1);
    transform: rotate(30deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    position: relative;
    left: -1vw;
}

#tab1-text {
    color: white;
    font-size: 4vw;
    text-align: center;
    margin-left: -1vw;
}

#tab2-container {
    width: 19.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(4, 0, 255), rgb(6, 0, 58));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 20vw;
    z-index: 10;
}

#tab2-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#tab2-img {
    width: 10vw;
    height: 10vw;
    filter: brightness(0) invert(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    position: relative;
}

#tab2-text {
    color: white;
    font-size: 4vw;
    text-align: center;
}

#tab3-container {
    width: 19.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 0, 179), rgb(58, 0, 55));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 40vw;
    z-index: 10;
}

#tab3-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#tab3-img {
    width: 10vw;
    height: 10vw;
    filter: brightness(0) invert(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    position: relative;
}

#tab3-text {
    color: white;
    font-size: 4vw;
    text-align: center;
}

#tab4-container {
    width: 19.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 230, 0), rgb(58, 49, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 60vw;
    z-index: 10;
}

#tab4-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#tab4-img {
    width: 10vw;
    height: 10vw;
    filter: brightness(0) invert(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    position: relative;
}

#tab4-text {
    color: white;
    font-size: 4vw;
    text-align: center;
}

#tab5-container {
    width: 19.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(5, 144, 0), rgb(9, 58, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 80vw;
    z-index: 10;
}

#tab5-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#tab5-img {
    width: 10vw;
    height: 10vw;
    filter: brightness(0) invert(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    position: relative;
}

#tab5-text {
    color: white;
    font-size: 4vw;
    text-align: center;
}

#inventory-container {
    width: 99vw;
    height: 43vw;
    background-color: #1E1E1E;
    z-index: 100;
    position: absolute;
    margin: 0.5vw;
    border: 1px solid white;
    visibility: hidden;
}

#inventory-title {
    color: white;
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
}

/*

Old Inventory System

#wrapper div {
    display: inline-block;
    height: 5vw;
    width: 5vw;
    background-image: linear-gradient(135deg, rgba(109, 109, 109, 1), rgba(51, 51, 51, 0.25));
    border: 2px solid gray;
}

*/

#items-container {
    width: 70vw;
    height: 37.5vw;
    background-image: linear-gradient(135deg, rgba(109, 109, 109, 1), rgba(51, 51, 51, 0.25));
    border: 1px solid white;
    position: absolute;
    top: 4.5vw;
    left: 1vw;
    overflow-y: auto;
    overflow-x: hidden;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
}
  
::selection {
    color: white;
    background: black;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#sorting-text {
    color: white;
    font-size: 1vw;
    font-weight: 500;
    position: absolute;
    top: 0vw;
    left: 1vw;
}

#sort-container {
    width: 10vw;
    height: 2.5vw;
    border: 1px solid white;
    position: absolute;
    top: 1.6vw;
    left: 1vw;
    background-image: linear-gradient(135deg, rgba(109, 109, 109, 1), rgba(51, 51, 51, 0.25));
}

#sort-alphabetically {
    filter: invert(1);
    border: 1px solid black;
    background-image: linear-gradient(135deg, rgba(109, 109, 109, 1), rgba(51, 51, 51, 0.25));
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    top: 0.2vw;
    left: 0.25vw;
    cursor: pointer;
    padding: 0.25vw;
}

#sort-quantity {
    filter: invert(1);
    border: 1px solid black;
    background-image: linear-gradient(135deg, rgba(109, 109, 109, 1), rgba(51, 51, 51, 0.25));
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    top: 0.2vw;
    left: 2.6vw;
    cursor: pointer;
    padding: 0.25vw;
}

#status-container {
    border: 1px solid white;
    background-image: linear-gradient(135deg, rgb(34, 34, 34), rgba(51, 51, 51, 0.87));
    width: 20vw;
    height: 7vw;
    position: relative;
    z-index: 101;
    margin: auto;
    box-shadow: 4px 4px 4px black;
    visibility: hidden;
}

#status-title {
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

#status-text {
    color: red;
    font-size: 2vw;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

#health {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

#drugs-tab1-container {
    width: 27.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(195, 0, 255), rgb(35, 0, 58));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 0vw;
    z-index: 10;
    visibility: hidden;
}

#drugs-tab1-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#drugs-tab1-img {
    width: 15vw;
    height: 15vw;
    filter: brightness(0) invert(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    position: relative;
}

#drugs-tab1-text {
    color: white;
    font-size: 4vw;
    text-align: center;
}

#drugs-tab2-container {
    width: 27.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 145, 0), rgb(58, 18, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 28vw;
    z-index: 10;
    visibility: hidden;
}

#drugs-tab2-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#drugs-tab2-img {
    width: 15vw;
    height: 15vw;
    filter: brightness(0) invert(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    position: relative;
}

#drugs-tab2-text {
    color: white;
    font-size: 3vw;
    text-align: center;
}

#drugs-tab3-container {
    width: 27.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(9, 255, 0), rgb(9, 58, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 56vw;
    z-index: 10;
    visibility: hidden;
}

#drugs-tab3-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#drugs-tab3-img {
    width: 15vw;
    height: 15vw;
    filter: brightness(0) invert(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    position: relative;
}

#drugs-tab3-text {
    color: white;
    font-size: 3.5vw;
    text-align: center;
}

#drugs-tab4-container {
    width: 15.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 0, 0), rgb(58, 0, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 84vw;
    z-index: 10;
    visibility: hidden;
}

#drugs-tab4-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#drugs-tab4-img {
    width: 8vw;
    height: 8vw;
    filter: brightness(0) invert(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    position: relative;
}

#drugs-tab4-text {
    color: white;
    font-size: 4vw;
    text-align: center;
}

#harvest-tab1-container {
    width: 41.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 0, 0), rgb(58, 0, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 0vw;
    z-index: 10;
    visibility: hidden;
}

#harvest-tab1-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#harvest-tab1-img {
    width: 10vw;
    height: 10vw;
    filter: brightness(0) invert(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    position: relative;
}

#harvest-tab1-text {
    color: white;
    font-size: 4vw;
    text-align: center;
}

#harvest-tab2-container {
    width: 41.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 0, 0), rgb(58, 0, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 42vw;
    z-index: 10;
    visibility: hidden;
}

#harvest-tab2-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#harvest-tab2-img {
    width: 10vw;
    height: 10vw;
    filter: brightness(0) invert(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    position: relative;
}

#harvest-tab2-text {
    color: white;
    font-size: 4vw;
    text-align: center;
}

#harvest-tab3-container {
    width: 15.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 0, 0), rgb(58, 0, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 84vw;
    z-index: 10;
    visibility: hidden;
}

#harvest-tab3-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#harvest-tab3-img {
    width: 8vw;
    height: 8vw;
    filter: brightness(0) invert(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    position: relative;
}

#harvest-tab3-text {
    color: white;
    font-size: 4vw;
    text-align: center;
}

#mineshaft-tab1-container {
    width: 11.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 0, 0), rgb(58, 0, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 0vw;
    z-index: 10;
    visibility: hidden;
}

#mineshaft-tab1-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#mineshaft-tab1-img {
    width: 10vw;
    height: 10vw;
    /*filter: brightness(0) invert(1); VERY COOL EFFECT!!!!!*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    position: relative;
}

#mineshaft-tab1-text {
    color: white;
    font-size: 2.5vw;
    text-align: center;
}

#mineshaft-tab2-container {
    width: 11.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 0, 0), rgb(58, 0, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 12vw;
    z-index: 10;
    visibility: hidden;
}

#mineshaft-tab2-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#mineshaft-tab2-img {
    width: 10vw;
    height: 10vw;
    /*filter: brightness(0) invert(1); VERY COOL EFFECT!!!!!*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    position: relative;
}

#mineshaft-tab2-text {
    color: white;
    font-size: 2.5vw;
    text-align: center;
}

#mineshaft-tab3-container {
    width: 11.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 0, 0), rgb(58, 0, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 24vw;
    z-index: 10;
    visibility: hidden;
}

#mineshaft-tab3-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#mineshaft-tab3-img {
    width: 10vw;
    height: 10vw;
    /*filter: brightness(0) invert(1); VERY COOL EFFECT!!!!!*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    position: relative;
}

#mineshaft-tab3-text {
    color: white;
    font-size: 2.5vw;
    text-align: center;
}

#mineshaft-tab4-container {
    width: 11.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 0, 0), rgb(58, 0, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 36vw;
    z-index: 10;
    visibility: hidden;
}

#mineshaft-tab4-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#mineshaft-tab4-img {
    width: 10vw;
    height: 10vw;
    /*filter: brightness(0) invert(1); VERY COOL EFFECT!!!!!*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    position: relative;
}

#mineshaft-tab4-text {
    color: white;
    font-size: 2.5vw;
    text-align: center;
}

#mineshaft-tab5-container {
    width: 11.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 0, 0), rgb(58, 0, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 48vw;
    z-index: 10;
    visibility: hidden;
}

#mineshaft-tab5-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#mineshaft-tab5-img {
    width: 10vw;
    height: 10vw;
    /*filter: brightness(0) invert(1); VERY COOL EFFECT!!!!!*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    position: relative;
}

#mineshaft-tab5-text {
    color: white;
    font-size: 2.5vw;
    text-align: center;
}

#mineshaft-tab6-container {
    width: 11.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 0, 0), rgb(58, 0, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 60vw;
    z-index: 10;
    visibility: hidden;
}

#mineshaft-tab6-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#mineshaft-tab6-img {
    width: 10vw;
    height: 10vw;
    /*filter: brightness(0) invert(1); VERY COOL EFFECT!!!!!*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    position: relative;
}

#mineshaft-tab6-text {
    color: white;
    font-size: 2.5vw;
    text-align: center;
}

#mineshaft-tab7-container {
    width: 11.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 0, 0), rgb(58, 0, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 72vw;
    z-index: 10;
    visibility: hidden;
}

#mineshaft-tab7-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#mineshaft-tab7-img {
    width: 10vw;
    height: 10vw;
    /*filter: brightness(0) invert(1); VERY COOL EFFECT!!!!!*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    position: relative;
}

#mineshaft-tab7-text {
    color: white;
    font-size: 2.5vw;
    text-align: center;
}

#mineshaft-tab8-container {
    width: 15.5vw;
    height: 44.75vw;
    background-image: linear-gradient(-50deg, rgb(255, 0, 0), rgb(58, 0, 0));
    border: 0.25vw solid transparent;
    cursor: pointer;
    position: absolute;
    top: 0vw;
    left: 84vw;
    z-index: 10;
    visibility: hidden;
}

#mineshaft-tab8-container:hover {
    border: 0.25vw solid white;
    transition: border ease-in-out 0.25s;
}

#mineshaft-tab8-img {
    width: 10vw;
    height: 10vw;
    filter: brightness(0) invert(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vw;
    position: relative;
}

#mineshaft-tab8-text {
    color: white;
    font-size: 2.5vw;
    text-align: center;
}

#inventory-c {
    width: 3.5vw;
    height: 3.5vw;
    background-image: linear-gradient(-50deg, rgba(255, 0, 50, 0.75), rgba(58, 0, 50, 0.25));
    border: 0.2vw solid #ff002e;
    cursor: pointer;
    position: absolute;
    top: 0.25vw;
    left: 84.5vw;
}

#inventory-c:hover {
    background-image: linear-gradient(-50deg, rgba(150, 0, 30, 0.75), rgba(30, 0, 28, 0.25));
    border: 0.2vw solid #a5001e;
}

#inventory {
    width: 3.5vw;
    height: 3.5vw;
    filter: invert(1);
}

#skills-c {
    width: 3.5vw;
    height: 3.5vw;
    background-image: linear-gradient(-50deg, rgba(255, 0, 50, 0.75), rgba(58, 0, 50, 0.25));
    border: 0.2vw solid #ff002e;
    cursor: pointer;
    position: absolute;
    top: 0.25vw;
    left: 88.75vw;
}

#skills-c:hover {
    background-image: linear-gradient(-50deg, rgba(150, 0, 30, 0.75), rgba(30, 0, 28, 0.25));
    border: 0.2vw solid #a5001e;
}

#skills {
    width: 3.5vw;
    height: 3.5vw;
    filter: invert(1);
}

#daily-rewards-c {
    width: 3.5vw;
    height: 3.5vw;
    background-image: linear-gradient(-50deg, rgba(255, 0, 50, 0.75), rgba(58, 0, 50, 0.25));
    border: 0.2vw solid #ff002e;
    cursor: pointer;
    position: absolute;
    top: 0.25vw;
    left: 93vw;
}

#daily-rewards-c:hover {
    background-image: linear-gradient(-50deg, rgba(150, 0, 30, 0.75), rgba(30, 0, 28, 0.25));
    border: 0.2vw solid #a5001e;
}

#daily-rewards {
    width: 3.5vw;
    height: 3.5vw;
    filter: invert(1);
}